# CENTRAL_SERVER_URL=https://port-0-optics-hub-mmv6p89qd9dce554.sel3.cloudtype.app
CENTRAL_SERVER_URL=http://localhost:3000
OPTICS_SOURCE_URL=https://www.github.com/OPTiCS-Organization
REMOTE_DOCKER_HOST=localhost
REMOTE_DOCKER_PORT=2375

CORS_ORIGIN=https://port-0-optics-hub-mmv6p89qd9dce554.sel3.cloudtype.app,http://localhost:3000,http://localhost:5240

SERVER_PORT=5230